<div class="home-container">
  <span class="title">Developer</span>
  <div class="home-container-content">
    <div class="contact-card">
      <div class="profile">
        <div class="profile-photo">
          <img src="/assets/contact-card-photo.png" alt="">
        </div>
        <span class="name">Petrut</span>
        <span class="role">FrontEnd Developer</span>
      </div>
      <div class="contact-description">
        <div class="contact-description-item">
            <div class="icon">
              <span class="icon-icon-mail"></span>
            </div>
              <span class="content">petrutpoenaru22&#64;gmail.com</span>
        </div>
        <div class="contact-description-item">
            <div class="icon">
              <span class="icon-icon-map-pin"></span>
            </div>
              <span class="content">Bacau, Romania</span>
        </div>
        <div class="contact-description-item">
            <div class="icon">
              <span class="icon-icon-briefcase"></span>
            </div>
              <span class="content">FullTime / Freelancer</span>
        </div>
        <div class="contact-description-item">
            <div class="icon">
              <span class="icon-icon-link"></span>
            </div>
              <span class="content">www.petrut-poenaru-dev.ro</span>
        </div>
      </div>
      <div class="skills">
        <div class="skill">HTML</div>
        <div class="skill">SCSS</div>
        <div class="skill">JS</div>
        <div class="skill">TS</div>
        <div class="skill">ANGULAR</div>
      </div>
      <div class="download">
        <span>Download CV</span>
        <span class="icon-icon-download"></span>
      </div>
    </div>
    <div class="description">

    </div>
    <div class="languanges">

    </div>
  </div>
</div>
