<div class="home-container">
  <span class="title hideOnMobile">Developer</span>
  <div class="home-container-content">
    <div class="contact-card">
      <div class="profile">
        <div class="profile-photo">
          <img src="/assets/contact-card-photo.png" alt="">
        </div>
        <span class="name">Petrut</span>
        <span class="role">Front-End Developer</span>
      </div>
      <div class="contact-description">
        <div class="contact-description-item">
          <div class="icon">
            <span class="icon-icon-mail"></span>
          </div>
          <span class="content">petrutpoenaru22&#64;gmail.com</span>
        </div>
        <div class="contact-description-item">
          <div class="icon">
            <span class="icon-icon-map-pin"></span>
          </div>
          <span class="content">Bacau, Romania</span>
        </div>
        <div class="contact-description-item">
          <div class="icon">
            <span class="icon-icon-briefcase"></span>
          </div>
          <span class="content">FullTime / Freelancer</span>
        </div>
        <div class="contact-description-item">
          <div class="icon">
            <span class="icon-icon-link"></span>
          </div>
          <span class="content">www.petrut-poenaru-dev.ro</span>
        </div>
      </div>
      <div class="skills">
        <div class="skill">HTML</div>
        <div class="skill">SCSS</div>
        <div class="skill">JS</div>
        <div class="skill">TS</div>
        <div class="skill">ANGULAR</div>
      </div>
      <div class="download">
        <span>Download CV</span>
        <span class="icon-icon-download"></span>
      </div>
    </div>
    <div class="description">
      <div class="description-title">
        <span class="tag">{{h1Tag}}</span>
        <div class="name">
          <div class="identify">
            <span>Hey</span>
            <span>I’m <span class="highlight">Petrut</span>,</span>
            <span>Front-End developer</span>
          </div>
          <span class="tag">{{h1TagEnd}}</span>
        </div>
      </div>
      <div class="description-content">
        <div class="content-section">
          <span class="tag">{{pTag}}</span>
          <span class="content">I am a passionate web developer, I love to create attractive and easy to use websites, bringing smart and innovative solutions to every project.</span>
          <span class="tag">{{pTagEnd}}</span>
        </div>
        <div class="contact">
          <span>Let’s talk</span>
          <div class="icon">
            <span class="icon-icon-mail"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="experience">
        <div class="experience-item">
          <span class="number">5</span>
          <span class="content">Technologies</span>
        </div>
      <div class="experience-item">
        <span class="number">2</span>
        <span class="content">Years of experience</span>
      </div>
    </div>
  </div>
</div>
