:host{
  width: 100%;
}
.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  .notification{
    font-family: Ubuntu;
    font-size: 36px;
    color:var(--color-white);
    position: fixed;
    top:10%;
    right:15%;
    border-radius: 20px;
    padding: 12px 24px;
    &.succes{
      background-color: green;
    }
    &.error{
      background-color: var(--color-angular);
    }
  }
}
.menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 24px;
  left:2%;
  top:15%;
  background-color: var(--color-bg-2);
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  .icon{
    padding: 8px;
    border-radius: 40px;
    span{
      color:var(--color-white);
      cursor: pointer;
    }
    &.active{
      background-color: var(--color-white);
      color:var(--color-bg-2);
      span{
        color:var(--color-bg-2);
      }
    }
  }
  @media ((min-width: 1921px) and (max-width:2100px)) {
    left:6% !important;
  }

  @media (max-width: 1920px) {
    left:2% !important;
  }

  @media (min-width: 2100px) {
    left:10% !important;
  }

  @media ((min-width: 2300px) and (max-width:2600px)) {
    left:17% !important;
  }

}
