@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pih1nw');
  src:  url('fonts/icomoon.eot?pih1nw#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pih1nw') format('truetype'),
    url('fonts/icomoon.woff?pih1nw') format('woff'),
    url('fonts/icomoon.svg?pih1nw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-grid:before {
  content: "\e900";
}
.icon-icon-link:before {
  content: "\e901";
  color: #12f7d6;
}
.icon-icon-mail:before {
  content: "\e902";
  color: #fff;
}
.icon-icon-map-pin:before {
  content: "\e903";
  color: #12f7d6;
}
.icon-icon-monitor:before {
  content: "\e904";
  color: #fff;
}
.icon-icon-user:before {
  content: "\e905";
  color: #fff;
}
.icon-icon-briefcase:before {
  content: "\e906";
  color: #12f7d6;
}
.icon-icon-code:before {
  content: "\e907";
  color: #fff;
}
.icon-icon-download:before {
  content: "\e908";
}
.icon-icon-edit:before {
  content: "\e909";
  color: #fff;
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
