@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ujq59p');
  src:  url('fonts/icomoon.eot?ujq59p#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ujq59p') format('truetype'),
    url('fonts/icomoon.woff?ujq59p') format('woff'),
    url('fonts/icomoon.svg?ujq59p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sass:before {
  content: "\e90d";
}
.icon-js:before {
  content: "\e90a";
}
.icon-angular:before {
  content: "\e90b";
}
.icon-typescript:before {
  content: "\e90c";
}
.icon-icon-grid:before {
  content: "\e900";
}
.icon-icon-link:before {
  content: "\e901";
}
.icon-icon-mail:before {
  content: "\e902";
}
.icon-icon-map-pin:before {
  content: "\e903";
}
.icon-icon-monitor:before {
  content: "\e904";
}
.icon-icon-user:before {
  content: "\e905";
}
.icon-icon-briefcase:before {
  content: "\e906";
}
.icon-icon-code:before {
  content: "\e907";
}
.icon-icon-download:before {
  content: "\e908";
}
.icon-icon-edit:before {
  content: "\e909";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-html-five2:before {
  content: "\eae5";
}
