<div class="about-container">
  <div class="top-scroll hideOnMobile">
    <img src="assets/skills-scroll.png" alt="">
  </div>
  <div class="about-content">
    <div class="text">
      <span class="title">About Me</span>
      <div class="description">
        <span class="tag">{{pTag}}</span>
        <div class="description-content">
          <span>I developed my <span class="highlight">passion for Web Development</span> since high school when I used all the <span class="highlight">resources</span> available on the internet to learn. During this time, I discovered many opportunities and programming languages.</span>
          <span >When I started, I had almost two years in the industry, continuously learning more and more things. These experiences have greatly improved my skills in <span class="highlight">quality web development.</span></span>
        </div>
        <span class="tag">{{pTagEnd}}</span>
      </div>
    </div>
    <div class="my-photo">
      <img src="assets/me.png" alt="">

    </div>
  </div>
</div>
