<div class="header-container">
  <div class="logo">
    <span class="logo-sign">{{logoSign}}</span>
    <span class="logo-name">PetrutPoenaru</span>
  </div>
  <div class="header-social-media">
    <div (click)="goToLinkedin()" class="social-media-item">
      <div class="icon">
        <span class="icon-linkedin2"></span>
      </div>
      <span class="content hideOnMobile">Linkedin</span>
    </div>
    <div (click)="goToGitHub()" class="social-media-item">
      <div class="icon">
        <span class="icon-github"></span>
      </div>
      <span class="content hideOnMobile">GitHub</span>
    </div>
  </div>
</div>
