/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
:root{
  --color-bg-1:#292F36;
  --color-bg-2:#1A1E23;
  --color-aqua:#12F7D6;
  --color-aqua-light:#98FAEC;
  --color-grey:#43454D;
  --color-white:#ffffff;
  --color-html:#E54F26;
  --color-scss:#CC669B;
  --color-js:#E7A020;
  --color-ts:#0C73B8;
  --color-angular:#BD002E;
}

body{
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: center;
}
//font-family: IBM Plex Mono;
//font-family: Ubuntu;
@font-face {
  font-family: 'icomoon';
  src:  url('assets/icon-font/icomoon.eot?pih1nw');
  src:  url('assets/icon-font/icomoon.eot?pih1nw#iefix') format('embedded-opentype'),
  url('assets/icon-font/icomoon.ttf?pih1nw') format('truetype'),
  url('assets/icon-font/icomoon.woff?pih1nw') format('woff'),
  url('assets/icon-font/icomoon.svg?pih1nw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-grid:before {
  content: "\e900";
}
.icon-icon-link:before {
  content: "\e901";
}
.icon-icon-mail:before {
  content: "\e902";
}
.icon-icon-map-pin:before {
  content: "\e903";
}
.icon-icon-monitor:before {
  content: "\e904";
}
.icon-icon-user:before {
  content: "\e905";
}
.icon-icon-briefcase:before {
  content: "\e906";
}
.icon-icon-code:before {
  content: "\e907";
}
.icon-icon-download:before {
  content: "\e908";
}
.icon-icon-edit:before {
  content: "\e909";
}
.icon-github:before {
  content: "\eab0";
}
.icon-linkedin2:before {
  content: "\eaca";
}
